/* =Variables
-------------------------------------------------------------- */
$icon-color: #ff0000;

$primary-color: #ff707e;
$secondary-color: #263645;

$text-dark: #222;
$text-white: #ECEBDA;

$bg-color: #f2f3f7;

$white: #fff;

$dark-blue: #101212;

$title: $helvetica;
$content: $georgia;
