.branding{
	background-color: $primary-color;

	figure{
		a{
			display: block;
			margin: 0 auto;
			width: 30%;
			-webkit-transition: .2s all linear;
			transition: .2s all linear;

			&:hover{
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}

	h1{
		margin: 0;
		@include fontSize(20px);
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;

		a{
			color: $white;

			&:hover{
				color: $white;
			}
		}
	}
}
