.footer{
	background-color: $secondary-color;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;

	@include media($mobile){
		padding-bottom: 50px;
	}
}

.foot-description{
	color: $white;
	@include fontSize(14px);
}

.nav-footer{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;

		&:nth-last-child(1){
			a:after{
				display: none;
			}
		}

		a{
			color: $white;

			&:after{
				content: "❘";
				margin: 0 2px;
				color: #404648;
			}
		}
	}
}
