.header{
	background-color: $secondary-color;

}

.link-count, .sharing, .search-container{
	display: inline-block;
}

.link-count{
	line-height: 55px;
	margin-bottom: 0px;
	margin-left: 2%;
	color: $white;

	@include media($mobile){
		display: none;
	}

	.link-icon{
		margin-right: 5px;
	}
}

.link-highlight{
	background: padding-box #ECEBDA;
	color: #282C2D;
	padding: 1px 3px;
	border-radius: 3px;
	text-transform: lowercase;
	margin-left: 2px;
}

.sharing{
	float: right;
	width: 300px;

	padding: 13px 13px 13px 0;

	@include media($mobile){
		width: 100%;
		display: block;
		float: none;
		position: fixed;
		bottom: 0;
		z-index: 100;
		padding: 0;
	}
}

.social-sharing{
	padding: 0;
	margin: 0;
	list-style: none;

	li{
		display: inline-block;
		vertical-align: top;

		@include media($mobile){
			float: left;
			width: 50%;
		}
	}

}

a.popup{
	background-color: $black;
	color: $white;
	height: 26px;
	width: 68px;
	text-transform: uppercase;
	padding: 4px 12px 4px 13px;
	height: 30px;

	&:hover{
		color: $white;
	}

	@include media($mobile){
		height: 32px;
		line-height: 32px;
		width: 100%;
		display: block;
		text-align: center;
	}
}

.popup.share-twitter{
	&:hover{
		background-color: $twitter;
	}

	@include media($mobile){
		background-color: $twitter;
	}
}

.popup.share-facebook{
	&:hover{
		background-color: $facebook;
	}

	@include media($mobile){
		background-color: $facebook;
	}
}


.logo-mobile{
	display: none;
	height: 50px;
	width: 50px;
	padding: 5px;
	margin-left: 20px;

	@include media($mobile){
		display: inline-block;
	}

	img{
		height: 100%;
	}
}

.menu-mobile{
	position: relative;
	top: 7px;
	right: 10px;
	float: right;
	text-align: center;

	display: none;

	@include media($mobile){
		display: block;
	}

	span{
		display: block;
		@include fontSize(24px);
		line-height: 40px;
	}
}


.search-container{
	width: 160px;
	position: relative;
	float: right;
	margin: 0 1em 0 0;
	top: 7px;
	z-index: 100;

	@include media($mobile){
		right: 50px;
	}
}

.searchbox{
	position: absolute;
	min-width: 40px;
	right: 0;
	width: 0;
	height: 40px;
	display: block;
	overflow: hidden;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
	margin: 0;

	&.searchbox-open{
		width: 60vw;
	}

	input{
		display: inline-block;
		vertical-align: top;
		border-radius: 0;
		color: black;
	}


	// .searchbox-submit{
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// }
}

.searchbox-input{
	top: 0;
	right: 0;
	border: 0;
	outline: 0;
	background: #34393b;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0 45px 0 20px;
	font-size: 1.6em;
	color: #ECEBDA;
}
// input[type="submit"].searchbox-submit{
// 	background-color: $primary-color;
// 	border-color: $primary-color;
// }


.searchbox-icon{
	&:before{
		position: absolute;
		top: 0;
		left: 10px;
	}
}

.searchbox-icon, input[type="submit"].searchbox-submit{
	background-color: $primary-color;
	border-color: $primary-color;
	color: $white;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	@include fontSize(20px);
	right: 0;
	padding: 4px 0 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .2s all ease;
	transition: .2s all ease;
}

