.navbar{
	background-color: $secondary-color;

	color: $white;

	ul{
		list-style: none;
		padding-left: 0;
		margin: 0;
	}

	h3{
		cursor: pointer;
		margin: 0;
		border-bottom: 1px solid $black;
		-webkit-transition: .2s all linear;
		transition: .2s all linear;

		&:hover{
			background-color: $primary-color;
		}
		span{
			float: right;
			display: block;
			position: relative;
			top: 10px;
			-webkit-transition: .2s all linear;
			transition: .2s all linear;
			color: $black;
			font-weight: 600;
		}
	}
	.is-active{
		h3{
			background-color: $primary-color;
		}
		h3 span{
			color: $white;
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
	h3,a{
		@include fontSize(16px);
		line-height: 2em;
		padding: 0 1.5em;
	}

	a{
		color: $white;
		font-weight: 600;
	}

	.icon-gallery{
		color: $white;
	}
  .parent{
    &.no-childs{
      padding: 0;
    }
  }
}


.accordion{
	ul.sub {
		display: none;
	}

	.sub{
		li{
			border-bottom: 1px solid $black;
		}

		a{
			display: block;
			background-color: $light-blue;
			&:hover{
				border-left: 3px solid $primary-color;
				background-color: $dark-blue;
			}
		}
	}
	.item-accordion{
		-webkit-transition: .2s all linear;
		transition: .2s all linear
		a:visited:hover{
			color: inherit;
		}
	}
	// .is-active{
	// 	background-color: $primary-color;
	// }
	// .is-expanded {
	// 	display: block;
	// 	> a {
	// 	  color: red;
	// 	}
	// }
}
