.modal{
	height: 0;
	visibility: hidden;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;

	&.is-visible{
		height: auto;
		visibility: visible;
	}
}


.modal-overlay{
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity ease .3s;
	transition: opacity ease .3s;
}

.modal.is-visible{
	.modal-overlay{
		visibility: visible;
		opacity: 1;
	}
	.modal-wrapper {
		margin-bottom: 20px;
	}
}

.modal-wrapper {
	position: absolute;
	z-index: 9999;
	width: 97%;
	top: 65px;
	right: 0;
	left: 0;
	margin: auto;
	background: #e9e8ea;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	-webkit-transform: translateY(-20%);
	-ms-transform: translateY(-20%);
	transform: translateY(-20%);
	opacity: 0;

	padding-top: 20px;
	padding-bottom: 20px;
}



.modal-transition{
	-webkit-transition: all .3s .12s;
	transition: all .3s .12s;
	-webkit-transform: translateY(-10%);
	-ms-transform: translateY(-10%);
	transform: translateY(-10%);
	opacity: 0;
}

.modal.is-visible .modal-transition {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.modal-header{
	position: relative;

	.modal-close{
		color: $primary-color;
		position: absolute;
		top: 10px;
		right: 10px;
		@include fontSize(30px);
		-webkit-transition: all ease .2s;
		transition: all ease .2s;
		cursor: pointer;
	}
}

.modal-body{
	ul{
		list-style: none;
		@include clearfix();
	}
	li{
		float: left;
		width: 30%;

		@media screen and (max-width: 1080px){
			width: 40%;
		}

		@include media($small-desktop){
			width: 40%;
		}

		@include media($tablet){
			width: 85%;
		}

		a{
			@include fontSize(14px);
			display: block;
			padding: 7px 3px 5px 6px;
			margin: 0 8px 4px;
			font-weight: 700;
			background: $white;
			color: #282C2D;
			border-left: 5px solid $primary-color;
			-webkit-transition: all ease .3s;
			transition: all ease .3s;

			text-transform: uppercase;

			&:hover{
				background: $primary-color;
				color: $white;
			}
		}
	}
}
